@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

/* INTRO SECTION SCREEN */

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("/assets/images/pexels-alex-azabache-4039924.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

#main-div {
    font-family: 'Padauk', sans-serif;
    position: relative;
    width: 70%;
    left: calc(50% - 35%);
    height: 60%;
    top: calc(50% - 30%);
    border: solid black 2px;
    border-radius: 1em;
    background-color: white;
}

.introSectionDiv {
    /* border: solid red; */
}

#welcome-header {
    font-size: 40px;
    text-align: center;
}

#hello-intro {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

#name-entry {
    height: 40px;
    width: 100%;
    
    text-align: center;
    font-size: 35px;
    margin: auto;
}

#intro-form {
     border: solid purple; 
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

#name-button {
    margin: auto;
    font-size: 25px;
    width: 70%;
    height: 60px;
    margin-left: 15%;
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 0.2em;
    letter-spacing: 5px;
}

#name-button:hover{
    background-color: rgb(158, 189, 184);
}

/* CHOOSE GAME OPTIONS SCREEN */

.game-options-div {
    border: solid orange;
    height: 90%;
    overflow: hidden;
}

#welcome-message {
    text-align: center;
    font-size: 40px;
}

#choose-game-options-text {
    text-align: center;
    font-size: 30px;
}

#difficulty-form,
#game-length-form {
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    text-align: center;
}

.game-difficulty-radio-labels,
.game-length-radio-labels {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 20px;
}


#play-game-button {
    margin-top: 50px;
    height: 50px;
    width: 40%;
    font-size: 25px;
    margin-left: 30%;
}

#home-button {
    height: 30px;
    width: 20%;
    margin-left: 40%;
}

#game-area-div-id {
    border: solid red;
    height: 100%;

}

#question-h2 {
    text-align: center;
    font-size: 40px;
}



#game-area-top {
    height: 20%;
    width: 100%;
    border: solid pink;
}

#game-area-left {
    height: 80%;
    width: 75%;
    float: left;
    border: solid blue;
}

#game-area-left1 {
    height: 80%;
    border: solid green;
}

#game-area-left2 {
    height: 20%;
    border: solid orange;
}

#next-question-button {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    font-size: 20px;
}

#skip-question-button {
    height: 40px;
    width: 150px;
    font-size: 20px;

}

#game-area-right {
    height: 80%;
    width: 20%;
    float: right;
    
    display: flex;
    flex-direction: column;

    text-align: center;
}

.game-area-right-divs {
  
    height: 25%;
}

.tally-labels {
    padding: 0;
    margin-top: 0;
    font-size: 25px;
    
}


.tally-numbers {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    
}

.multiple-choice-radios {
    margin-top: 70px;
    margin-right: 100px;
    margin-left: 40%;
}

.multiple-choice-labels {
    margin-right: 100px;
    font-size: 35px;
}


