@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

@font-face{
    font-family: 'customFont';
    src: url('../fonts/peignot/Peignot.ttf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100vh;
    width: 100vw;
    /* background-color: steelblue; */
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-image: url("/assets/images/pexels-alex-azabache-4039924.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#main-div {
    box-shadow: 5px 10px 8px 10px #888888;
    position: relative;
    top: 15%;
    margin: auto;
    width: 60%;
    height: 70%;
    border: solid black;
    background-color: white;
}

.fade-out-div {
    height: 100%;
    width: 100%;
    background:#7f7f7f;
    background:rgba(255,255,255,0.9);
    /* border: orange solid;
    background-color: green; */
    position: absolute;
    top: 0;
    left: 0;
}

.pop-up-div {
    
    height: 50%;
    width: 60%;
    border: solid black;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 9;
    
}

.all-buttons {
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 10px; 
    width: 300px;
    height: 80px;
    font-size: 22px;
    vertical-align: center;
    padding: 0;
}

.all-buttons:hover {
    background: #0c5d7a;
}

/* INTRO SECTION */ 

#intro-section-div, #game-options-div-id {
    margin: auto;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    text-align: center;
}

#welcome-header {
    font-size: 100px;
    /* position: relative;
    top: 5%; */
    font-family: customFont;
}


#span {
    color: green;
    font-size: 110px;
    letter-spacing: 3px;
}

#game-description{
    font-size: 35px;
}

#quiz-button{
    margin-top: 80px;
}

/*    NAME INPUT SCREEN       */

#input-name-div{
    width: 60%;
    height: 100%;
    margin: auto;
}

#hello-intro {
    text-align: center;
    font-size: 40px;  
    position: relative;
    top: 20%;
}

#intro-form{
    width: 60%;
    height: 40%;
    position: relative;
    top: 20%; 
    margin: auto;
}

#name-entry {
    width: 80%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

#name-button {
   margin-top: 20%;
   margin-left: calc(50% - 150px);
} 

/*  GAME OPTIONS SCREEN   */

#game-options-div-id {
    /* border: solid orange; */
}

#welcome-message {
    font-size: 50px;
}

#choose-game-options-text {
    font-size: 30px;
    margin-top: 50px;
}

#info-button {
    border: white;
    background-color: white;

}

#info-button:hover {
    color: red;
}

/* #difficulty-form {
    border: solid red;
} */

#difficulty-h2, #game-length-h2 {
    font-size: 25px;
    margin-top: 50px;
}

#game-length-form {
    /* border: solid yellow; */
}

.game-difficulty-radio-buttons, .game-length-radio-buttons {
    width: 20px;
    height: 20px;
    
}

.game-difficulty-radio-labels, .game-length-radio-labels {
    font-size: 30px;
    margin-left: 25px;
    margin-right: 80px;
}

#home-button, #play-game-button {
    margin-top: 100px;
    font-size: 25px; 
} 

#home-button {
    margin-left: 120px;
}

/*  PLAY GAME   */

#game-area-div-id {
    height: 100%;
    width: 100%;
}

#game-area-top {
    height: 15%;
    width: 100%;
    border: solid pink;
    /* text-align: center; */
    font-size: 1.2vw;
}

#questionSpan {
    /* color: purple;  */
    letter-spacing: 3px;
    text-decoration: underline;
    font-size: 2vw;
    text-align: center;
}

#question-of {
    font-size: 25px;
    margin-left: 30px;
}

#actualQuestion {
        margin-left: 80px;
    }

#game-area-left {
    height: 85%;
    width: 75%;
    float: left;
    border: solid blue; 
}

#game-area-left1 {
    height: 80%;  
}

#game-area-left2 {
    height: 20%;
    width: 90%;
    margin: auto;
    border: solid orange; 
    display: flex;
    justify-content: space-between;
}

.multiple-choice-radios {
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 5%;

    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    
}

.multiple-choice-labels {
    font-size: 32px;
    margin-right: 30%;
}

#next-question-button {
    font-weight: bold;
    margin-top: 20px;
} 

#game-home-button, #skip-question-button {
    width: 250px;
    height:60px;
    margin-top:30px;
}

#game-area-right {
    height: 80%;
    width: 20%;
    float: right;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    /* border: solid pink; */
    text-align: center;
}

.game-area-right-divs {
  
    height: 33%;
    /* border: solid blue; */
}

.tally-labels {
    position: relative;
    top: 2%;
    font-size: 30px;
}

.tally-numbers {
    position: relative;
    top: 5%;

}

#correctTally {
    color: green;
}

#incorrectTally {
    color: red;
}

/*   END GAME DIV        */
 
#end-game-div {
    margin: auto;
    /* border: solid yellow; */
    height: 100%;
    width: 60%;
    text-align: center;

}

#congrats-message {
    
    font-size: 60px;
}

#end-game-home-button{
    position: relative;
    bottom: 10px;
    width: 180px;
}

/*    1680     */


@media only screen and (max-width: 1680px) {
    
    /* FRONT PAGE 1680   */
    #welcome-header {
        font-size: 60px;
    }
    
    #span {
        font-size: 80px;
    }
    
    #game-description{
        font-size: 25px;
    }
    
    /*     NAME INPUT   1680   */

    #intro-form{
        width: 80%;
        height: 60%;
    }
    
    /* #name-entry {
        width: 80%;
        height: 50px;
        font-size: 30px;
        text-align: center;
        margin-left: 10%;
        margin-top: 10%;
    }
     */
    /* #name-button {
       margin-top: 20%;
       margin-left: calc(50% - 150px);
    }  */

    

    /*     GAME OPTIONS   1680  */

    #welcome-message {
        font-size: 50px;
        margin-top: 10px;
    }
    
    #choose-game-options-text {
        font-size: 30px;
        margin-top: 10px;
    }
    
    /* #info-button {
        border: white;
        background-color: white;

    } */
    
    /* #info-button:hover {
        color: red;
    } */
    
    /* #difficulty-form {
        border: solid red;
    } */
    
    #difficulty-h2, #game-length-h2 {
        font-size: 25px;
        margin-top: 30px;
    }
    
    #game-length-form {
        /* border: solid yellow; */
    }
    
    .game-difficulty-radio-buttons, .game-length-radio-buttons {
        width: 15px;
        height: 15px;   
    }
    
    .game-difficulty-radio-labels, .game-length-radio-labels {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 50px;
    }
    
    #home-button, #play-game-button {
        margin-top: 50px;
        font-size: 15px;
    } 
/*     
    #home-button {
        margin-left: 120px;
    } */


    /*     INFO POP UP  1680  */
    /*     PLAY GAME   1680   */

    /* #game-area-div-id {
        height: 100%;
        width: 100%;
    } */
    
    /* #game-area-top {
        /* height: 15%;
        width: 100%;
        border: solid pink; */
        /* text-align: center; 
        font-size: 20px;
    } */
    
    /* #questionSpan {
        
        font-size: 40px;
    }
    
    #question-of {
        font-size: 20px;
        margin-left: 10px;
    } 
    
    /* #game-area-left {
        height: 85%;
        width: 75%;
        float: left;
        border: solid blue; 
    } */
    
    /* #game-area-left1 {
        height: 80%;   
    }
     */
    /* #game-area-left2 {
        height: 20%;
        width: 90%;
        margin: auto;
        border: solid orange; 
        display: flex;
        justify-content: space-between;
    } */
    
    .multiple-choice-radios {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 4%;
    
        width: 20px;
        height: 20px;
        /* cursor: pointer; */
        /* border-radius: 50%;
        border: 2px solid #FFFFFF;  */
    }

    #next-question-button {
        margin-top: 0;
        width: 200px;
        font-size: 20px;
    } 
    
    #game-home-button, #skip-question-button {
        width: 200px;
        height:60px;
        margin-top:10px;
        font-size: 15px;
    }
    
    
    .multiple-choice-labels {
        font-size: 25px;
        margin-right: 30%;
    }
    
     /* #next-question-button {
        font-weight: bold;
    } 
     */
    
    #game-area-right {
        /* height: 80%;
        width: 20%;
        float: right; */
        font-size: 30px;
        /* display: flex;
        flex-direction: column;
        /* border: solid pink; */
        /* text-align: center; */ 
    }
    
    /* .game-area-right-divs {
      
        height: 33%;
        border: solid blue;
    }    */   
     
    .tally-labels {
        /* position: relative; */
        top: 0;
        font-size: 25px;
    }
    
   
    
    

    /*     END GAME       */
    
}




/*     FRONT PAGE     */
/*     NAME INPUT     */
/*     GAME OPTIONS   */
/*     INFO POP UP    */
/*     PLAY GAME      */
/*     END GAME       */

/*   1500     */

@media only screen and (max-width: 1500px) {

    /*      COMMON  1500       */

    .all-buttons {
        font-size: 18px;
        width: 200px;
        height: 50px;
        text-align: center;
    }

    /*     FRONT PAGE  1500     */

    #welcome-header {
        font-size: 60px;
    }

    #span {
        font-size: 70px;
    }

    #quiz-button{
        margin-top: 50px;
        
    }

    /*     NAME INPUT     */

    #name-button {
       margin-left: calc(50% - 100px);
    } 

    /*     PLAY GAME      */
     /* #game-area-top {
        font-size: 25px;
    } */

    /* #question-h2 {
        padding: 0;
    }
    
    #questionSpan {}
        font-size: 30px;
    } 
    
    #question-of {
        font-size: 25px;
    } */

    #next-question-button {
        margin-top: 0;
        width:180px;
        height:50px;
        font-size: 15px;
        /* padding: 0; */
    } 
    
    #game-home-button, #skip-question-button {
        width: 150px;
        height:40px;
        margin-top:10px;
        font-size: 12px;
        /* padding: 0; */
    }

}    


/*     1300         */

@media only screen and (max-width: 1300px) {

/*     FRONT PAGE     */
/*     NAME INPUT     */

/*     GAME OPTIONS  1300   */
    /* .game-difficulty-radio-buttons, .game-length-radio-buttons {
        width: 15px;
        height: 15px;   
    } */

    #difficulty-h2, #game-length-h2 {
        font-size: 18px;
        /* margin-top: 50px; */
    }

    .game-difficulty-radio-labels, .game-length-radio-labels {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 30px;
    }

    #home-button {
        margin-left: 50px;
    }


/*     INFO POP UP    */
/*     PLAY GAME      */

/* #game-area-top {
        font-size: 25px;
    } */
     
    /* #actualQuestion {
        font-size: 15px;
    }
    /* #questionSpan {
        font-size: 15px;
    }  */
    
    #question-of {
        font-size: 15px;
    } */
/*     END GAME       */
}


/*    1000      */
@media only screen and (max-width: 1000px) {

    #home-button {
        margin-left: 30px;
    }
    
}


@media only screen and (max-width: 900px) {

/*       COMMON            */
/*     FRONT PAGE  900   */

    /* #welcome-header {
        font-size: 60px;
    }

    #span {
        font-size: 70px;
    } */

    /* #quiz-button{
        margin-top: 50px;
        
    } */

    /*     NAME INPUT  900   */

    #hello-intro {
        font-size: 30px;
    }
    
/*     GAME OPTIONS   */

    #home-button, #play-game-button {
        /* margin-left: 50px; */
        width: 150px;
    }

/*     INFO POP UP    */
/*     PLAY GAME      */
/*     END GAME       */


}


@media only screen and (max-width: 720px) {

    /*     FRONT PAGE  720   */
    
        #welcome-header {
            font-size: 50px;
        }
    
        #span {
            font-size: 60px;
        }
    
        /* #game-description{
            font-size: 20px;
        }
     */
        /* #quiz-button{
            margin-top: 50px;
            
        } */
    
    /*     NAME INPUT     */
    /*     GAME OPTIONS   */
    /*     INFO POP UP    */
    /*     PLAY GAME      */
    /*     END GAME       */
    
    
    }

    @media only screen and (max-width: 620px) {

        /*     FRONT PAGE  620   */
        
            #welcome-header {
                font-size: 40px;
            }
        
            #span {
                font-size: 50px;
            }
        
            /* #game-description{
                font-size: 20px;
            }
         */
            /* #quiz-button{
                margin-top: 50px;
                
            } */
        
        /*     NAME INPUT     */
        /*     GAME OPTIONS   */
        /*     INFO POP UP    */
        /*     PLAY GAME      */
        /*     END GAME       */
        
        
        }